<!--<div class="form-style-6">-->
<!--<form [formGroup]="cutLinkForm">-->
    <!--<input type="text"  #url placeholder="cut it here">-->
    <!--<input type="text"   placeholder="add some personality?">-->
    <!--<input type="text"   placeholder="we think it should be...">-->
    <!--<button type="submit" (click) = 'clicked(url)'>clear it!</button>-->
<!--</form>-->
<!--</div>-->


<div class="form-style-6">
<table>
  <tr>
    <td>
      <input type="text"  #url placeholder="cut it here">
    </td>
    <td>
      <input type="text"   placeholder="add some personality?">
    </td>
    <td>
      <input type="text"   placeholder="we think it should be...">
    </td>
    <td>
      <button type="submit" (click) = 'clicked(url)'>cut!</button>
    </td>
  </tr>
</table>
  </div>
